{
    "tabWidth": 1,
    "useTabs": true,
    "semi":true,
    "singleQuote": false,
    "jsxSingleQuote": false,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "arrowParens": "always",
    "printWidth": 160
}